body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
}

h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.MA {
    position: fixed;
}

nav li {
    display: inline;
    margin-left: 160px;
    color: rgb(255, 255, 255);
}

ul {
    color: aliceblue;
    font
}


img {
    border: 5px solid rgb(255, 255, 255);
    margin: 30px;
}


.Galeano {
    position: relative;
    left: 28vw;
    bottom: 30px;
    border: 3px solid rgb(0, 0, 0);

}


header {
    background-color: rgba(118, 118, 118, 0.87);
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    position: absolute;
}

.galeano2 {
    position: relative;
    left: 2vw;
    border: 5px solid rgb(0, 0, 0);
}

.textocapa {
    display: inline-block;
    position: absolute;
    left: 370px;
    text-align: center;
}

.integracao {
    position: relative;
    bottom: 30px;
}

.avatar {
    position: relative;
    bottom: 290px;
    left: 600px;
}



nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
}